.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  background-color: aliceblue;
  border-radius: 3px;
}

.aws-btn {
  --button-default-height: 44px;
  --button-default-font-size: 15px;
  --button-default-border-radius: 4px;
  --button-horizontal-padding: 16px;
  --button-raise-level: 1px;
  --button-hover-pressure: 0;
  --transform-speed: 0.175s;
  --button-primary-color: #000000;
  --button-primary-color-dark: #000000;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #545454;
  --button-primary-color-active: #166dba;
  --button-primary-border: 0px solid #fff5f5;
  --button-secondary-color: #ffffff;
  --button-secondary-color-dark: #000000;
  --button-secondary-color-light: #000000;
  --button-secondary-color-hover: #eeeded;
  --button-secondary-color-active: #cfdee9;
  --button-secondary-border: 1px solid #000000;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-color-active: #0c4271;
  --button-anchor-border: none;
  --button-danger-color: #c42e2e;
  --button-danger-color-dark: #861f1f;
  --button-danger-color-light: #ffffff;
  --button-danger-color-hover: #bc2c2c;
  --button-danger-color-active: #af2929;
  --button-danger-border: none;
}

li {
  background-color: aliceblue;
  border-radius: 3px;
  margin-inline-start: .5rem;
  margin-top: .5rem;
}

h1 {
  font-size: xxx-large;
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
